<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>Test</servlet-name>
    <servlet-class>com.octest.servlets.Test</servlet-class>
    <multipart-config>
      <location>/home/lucie/git/repository/siteMFA/src/main/webapp/fichierstmp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/bonjour</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Data</servlet-name>
    <servlet-class>com.octest.servlets.Data</servlet-class>
    <multipart-config>
      <location>/home/lucie/git/repository/siteMFA/src/main/webapp/fichierstmp/</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>52428800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Data</servlet-name>
    <url-pattern>/data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Align</servlet-name>
    <servlet-class>com.octest.servlets.Align</servlet-class>
    <multipart-config>
      <location>/home/lucie/git/repository/siteMFA/src/main/webapp/fichierstmp/</location>
      <max-file-size>209715200</max-file-size>
      <max-request-size>314572800</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Align</servlet-name>
    <url-pattern>/align</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Model</servlet-name>
    <servlet-class>com.octest.servlets.Model</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Model</servlet-name>
    <url-pattern>/model</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Download</servlet-name>
    <servlet-class>com.octest.servlets.Download</servlet-class>
    <multipart-config>
        <location>/siteMFA/fichierstmp/</location>
        <max-file-size>10485760</max-file-size>
        <max-request-size>52428800</max-request-size>
        <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
</servlet>
<servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/Download</url-pattern>
</servlet-mapping>
  <servlet>
    <servlet-name>Lucie</servlet-name>
    <servlet-class>com.octest.servlets.Lucie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lucie</servlet-name>
    <url-pattern>/lucie</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>printText</servlet-name>
    <servlet-class>com.octest.servlets.printText</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>printText</servlet-name>
    <url-pattern>/printText</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update</servlet-name>
    <servlet-class>com.octest.servlets.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetAudio</servlet-name>
    <servlet-class>com.octest.servlets.GetAudio</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAudio</servlet-name>
    <url-pattern>/getAudio</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>serveFile</servlet-name>
    <servlet-class>com.octest.servlets.serveFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serveFile</servlet-name>
    <url-pattern>/serveFile</url-pattern>
  </servlet-mapping>
</web-app>